<!DOCTYPE html>
<html lang="en">
  <head>
    <link target=_blank href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.3.7/mqtt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mqtt/dist/mqtt.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoT Dashboard</title>
    <link rel="stylesheet" target=_blank href="../static/styles.css" />
  </head>
  <body>
    <!-- User Panel -->
    <div class="user-panel-s futuristic-card">
      <div class="welcome-card">
        <h2>Welcome, Admin!</h2>
        <p>Stay updated with your IoT devices</p>
        
      </div>
    </div>

    <!-- Main Dashboard -->
    <div class="dashboard-container">
      <!-- Light Switch Widget -->
      <div class="dashboard futuristic-card">
        <p>Lights</p>
        <img id="lightbulb" src="../static/lightoff.png" alt="Lightbulb Off" />
        <div class="switch">
          <input type="checkbox" id="switchLED" onchange="toggleSwitch()" />
          <label for="switchLED"></label>
        </div>
      </div>

      <!-- Fan Switch Widget -->
      <div class="dashboard futuristic-card">
        <p>Fan</p>
        <img id="fan" src="../static/fanoff.png" alt="Fan Off" />
        <div class="switch">
          <input type="checkbox" id="fanSwitch" onchange="toggleFan()" />
          <label for="fanSwitch"></label>
        </div>
      </div>

      <!-- Temperature Gauge Widget -->
      <div class="dashboard futuristic-card wide">
        <p>Temperature</p>
        <div id="temperatureGauge"></div>
      </div>

      <!-- Bluetooth Widget -->
      <div class="dashboard futuristic-card wide">
        <p>Bluetooth Device Scanner</p>
        <form id="rssi-form">
          <label for="rssi-threshold">RSSI Threshold:</label>
          <input type="number" id="rssi-threshold" name="rssi-threshold" placeholder="Enter RSSI Threshold" required />
          <button type="button" onclick="fetchDeviceCount(document.getElementById('rssi-threshold').value)">Scan</button>
        </form>
        <p id="device-count">Devices Found:</p>
      </div>

      <!-- Humidity Gauge Widget -->
      <div class="dashboard futuristic-card wide">
        <p>Humidity</p>
        <div id="humidityGauge"></div>
      </div>
       
      <!-- Brightness Widget -->
      <div class="dashboard futuristic-card">
        <p>Room Brightness</p>
        <p>
          <span id="brightness">--</span>
        </p>
      </div>

      <div class="side-bar">
        <!-- UID Widget -->
        <div class="dashboard futuristic-card sideone">
          <!-- Profile Icon -->
          <div class="top">
            <div class="profile-icon">
              <img src="../static/generic.jpg" alt="Profile Picture" />
            </div>
          </div>
          <h1>User</h1>
          <p>
            <span id="user">--</span>
          </p>
          <h1>Temperature Threshold</h1>
          <p>
            <span id="tempThreshold">24</span>
          </p>
          <h1>Light Threshold</h1>
          <p>
            <span id="lightThreshold">400</span>
          </p>
        </div>
    </div>
  </body>
  <script src="../static/scipt.js"></script>
  <script src="../static/mqttscript.js"></script>
</html>